---
title: Introduction
section: comp-tutorial
---

<div class="comp-tutorial">

  <h1>{{title}}</h1>

  <p>The Comp Tutorials is designed, so that campus new hires can familiarize with basic creative assets and build basic webpages from those designs.</p>

  <p>Each design focuses on different basic HTML elements, that you will need to be able build out in future client projects. The comps also allow for practice integrating design assets and how to use design applications.</p>

  <p>This page will list out some basic general tips.</p>

  <div class="sizing">
      <h3>Sizing</h3>

      <div class="row">
          <div class="col-md-7">
            <p>Sizing of fonts, images, and divs is a simple implementation, but done without forethought can lead to a messy project.</p>
            <p>Developers receive designs in psd format. Font sizes and styles are easy to grab from these documents. Style sheets can be cluttered if each paragraph elements in each section has its font-size declared. A good way to combat reiterative styling it to have a style guide where elements regardless of their nested level or parent can receive the same styling thoughout the site. Mixins are another strategy.</p>
            <p>Padding and Margins can be difficult to discern, but a general rule of thumb is to make rectangles in the psd file and grad their width and height as seen to the right.</p>
            <p>The marquee tool can also be used to measure the size of an element or div.</p>
            <p>Occasionally the pixel ratio from psd to desktop does not translate perfectly. It is common practice to eye it and adjust. Using the boxes is always a good starting point if you are unsure of the sizing of elements</p>
          </div>
          <div class="col-md-3">
            <img src="../images/comp-tutorial-psd-box-method.png"/>
          </div>
      </div>
  </div>

  <div class="Photoshop Tutorials">
      <h3>Photoshop</h3>
      <p>Beginner level Photoshop skills are needed for this job, more advanced skills are welcome.</p>
      <p>Lynda offers extensive Photoshop tutorials. If you want to delve into more creative skills of Photoshop, Phlearn is a great free resource.</p>
  </div>


</div>
