---
title: Introduction
section: comp-tutorial
---

<div class="comp-tutorial">

  <h1>{{title}}</h1>

  <p>The Comp Tutorials is designed, so that campus new hires can familiarize with basic creative assets and build basic webpages from those designs.</p>

  <p>Each design focuses on different basic HTML elements, that you will need to be able build out in future client projects. The comps also allow for practice integrating design assets and how to use design applications.</p>

  <p>This page will list out some basic general tips.</p>

  <div class="sizing intro-section">
      <h3>Sizing</h3>

      <div class="row">
          <div class="col-md-7">
            <p>Sizing of fonts, images, and divs is a simple implementation, but done without forethought can lead to a messy project.</p>
            <p>Developers receive designs in psd format. Font sizes and styles are easy to grab from these documents. Style sheets can be cluttered if each paragraph elements in each section has its font-size declared. A good way to combat reiterative styling it to have a style guide where elements regardless of their nested level or parent can receive the same styling thoughout the site. Mixins are another strategy.</p>
            <p>Padding and Margins can be difficult to discern, but a general rule of thumb is to make rectangles in the psd file and grad their width and height as seen to the right.</p>
            <p>The marquee tool can also be used to measure the size of an element or div.</p>
            <p>Occasionally the pixel ratio from psd to desktop does not translate perfectly. It is common practice to eye it and adjust. Using the boxes is always a good starting point if you are unsure of the sizing of elements</p>
          </div>
          <div class="col-md-3">
            <img src="../images/comp-tutorial-psd-box-method.png"/>
          </div>
      </div>
  </div>

  <div class="photoshop  intro-section">
      <h3>Photoshop</h3>
      <p>Beginner level Photoshop skills are needed for this job, more advanced skills are welcome.</p>
      <p>Lynda offers extensive Photoshop tutorials. If you want to delve into more creative and photo editing skills of Photoshop, Phlearn is a great free resource.</p>
      <p>Below is a small list of basic concepts that are needed to take from a psd file into an HTML page:</p>
        <ul>
          <li>Grabbing an vector smart object and saving it out as an svg</li>
          <li>Layer masks and clipping masks. The images taken from a psd are typically unstyled</li>
          <li>Resolution sizes</li>
          <li>Layer basics. Designers will throw all of a pages states into the same psd file</li>
        </ul>
  </div>

  <div class="icons  intro-section">
      <h3>Icomoon</h3>
      <p>Designers love to use images instead of words. When the same image is used many times with different colors, or needs to displayed inline with text, its time to make that image into a font.</p>
      <p>The dev team uses https://icomoon.io/ to upload svgs and out puts font files as well as a icon style sheet. The icon can be styled with font-size and color.</p>
  </div>

</div>
