---
title: Angular.js
section: tutorials
---

<div class="framework-description col-md-12">
  <div class="col-md-7">
    <h2>{{title}}</h2>
    <span class="framework-link">
      <a class="external-link" href="https://angularjs.org/" target="_blank">Checkout their website for more information <span class="icon-forward"></span></a>
    </span>
    <p>AngularJS lets you make your HTML more expressive, intuitive, clean, and modularized. Once you get a handle on how to use AngularJS, the process to develop pages is streamlined </p>
    <p><a class="external-link" href="https://docs.angularjs.org/tutorial" target="_blank">Try their tutorial</a> and see why everyone is calling AngularJS awesome.</p>
    <p>Try Code School's free <a class="external-link" href="http://campus.codeschool.com/courses/shaping-up-with-angular-js/intro">Shaping Up with Angular.js </a>tutorial for an interactive, enjoyable, and effective introduction to Angular.js.</p>
  </div>
  <div class="framework-logo angular-tutorial col-md-5"></div>
</div>
