---
title: Adopt-A-Kitty Tutorial
section: comp-tutorial
description: This is the tutorial for you if you like adorable cat pictures, want to learn how to make a Bootstrap and SASS Yeoman project, how to make a gallery with Slick, a side navbar, import your own fonts, and much meow (more).
---
<h1>{{title}}</h1>
<p>{{description}}</p>
{{>preview}}
{{>resources}}
