---
title: Development Frameworks
script: development-framework
section: goingFurther
---
<div id="development-framework-page">
  <h3>Starting a Project Easier</h3>
  <p>Most of the following tools can be installed throught the terminal</p>

  {{>framework-section development-tools}}

  <p>Time to refresh</p>
</div>
