---
title: Development Frameworks
script: development-framework
section: development
---
<div id="development-framework-page">
  <h2>Starting a Project Easier</h2>
  <p>This page serves as an introduction to the tools and frameworks used by the Interactive Developers to scaffold their projects and begin and maintain a quick and efficient workflow. Below you will find a brief synopsis of the most used frameworks and steps to install them.</p>


  <div class="content row">
      <div class="col-md-12">

          <div class="introduction row">
              <div class="yo col-md-4">
                  <div class="row">
                      <h4 class="col-md-5">Yeoman</h4>
                      <img class="col-md-3" src="../images/tool-yo.png"/>
                  </div>
                  <p>Yeoman combines open source tools and streamlines aspects of the project development process. Yo will set up basic application file structures for you, just by entering one line in the Terminal. Some projects allow you to choose what frameworks you wish you use, for instance Bootstrap or SemanticUI, AngularJS or Backbone. Once you run the Yo command, your project file structure is created with the dependencies needed for the frameworks you specified already installed and ready to use.
              </div>
              <div class="grunt col-md-4">
                <div class="row">
                  <h4 class="col-md-5">Grunt</h4>
                  <img class="col-md-3" src="../images/tool-grunt.png"/>
                </div>
                <p>Grunt handles automated tasks like minification, compiliation, etc.<br><br>Grunt is mostly used to build and clean projects and to set up projects on a localhost. Your Gruntfile, which defines the Grunt tasks, can have a livereload task which will refresh the application in your browser as soon as the files are saved in your work environment. This is just one example of how the Grunt task manager can make your workflow faster and easier.</p>
              </div>
              <div class="bower col-md-4">
                <div class="row">
                  <h4 class="col-md-5">Bower</h4>
                  <img class="col-md-3" src="../images/tool-bower.png"/>
                </div>
                <p>Bower fetches and installs packages and libraries from open-sources and keeps track of the packages in a compiled file, "bower.json", in your project's root directory.<br><br>Bower, along with NPM (Node Package Manager), speeds up the project creation procress. They download and manage your scripts so you don't have to do it manually.</p>
              </div>
          </div>


          {{>framework-section development-tools}}


      </div>

      <!-- <div class="installation-map col-md-3">


      </div> -->
  </div>


</div>
