---
title: Development Frameworks
script: development-framework
section: goingFurther
---
<div id="development-framework-page">
  <h2>Starting a Project Easier</h2>
  <p>The Interactive Development team use the following frameworks to scaffold their projects and instantiate their projects quickly.</p>

  <div class="row">
      <div class="yo col-md-4">
          <div class="row">
              <h4 class="col-md-5">Yeoman</h4>
              <img class="col-md-2" src="../images/tool-yo.png"/>
          </div>
          <p>Yeoman combines open source tools and streamlines aspects of the web development process. A basic web app as the intial index.html, main sass(if option is chosen, otherwise css), and javascript file. More instensive frameworks, such as Angular, can also be built through Yo.</p>
      </div>
      <div class="grunt col-md-4">
        <div class="row">
          <h4 class="col-md-5">Grunt</h4>
          <img class="col-md-2" src="../images/tool-grunt.png"/>
        </div>
        <p>Grunt handles automative tasks like minification, compiliation, etc.</p>
      </div>
      <div class="bower col-md-4">
        <div class="row">
          <h4 class="col-md-5">Bower</h4>
          <img class="col-md-2" src="../images/tool-bower.png"/>
        </div>
        <p>Bower fetches and installs packages and libraries from open-sources and keeps track of the packages in compiled file, bower.json.</p>
      </div>
  </div>


  {{>framework-section development-tools}}

</div>
