---
title: GitHub and Terminal
section: tutorials
---

<div class="framework-description col-md-12">
	<div class="col-md-7">
		<h2>{{title}}</h2>
		<span class="framework-link">
			<a class="external-link" href="https://github.com/" target="_blank">Checkout GitHub's website for more information <span class="icon-forward"></span></a>
		</span>	<br/>
		<span class="framework-link">
			<a class="external-link" href="http://guides.macrumors.com/Terminal" target="_blank">Checkout Terminal's website for more information <span class="icon-forward"></span></a>
		</span> <br/>
		<p>GitHub is a web-based Git repository hosting service, offering distributed revision control and source code management, among other features. GitHub is the web-based graphical interface to use Git, the most widely adopted version control system for software development. If you do not have one already, make a GitHub account because you'll be using it quite often. <a href="https://guides.github.com/" target="_blank">Here</a> is a very helpful guide to understand GitHub. To make your life easier, you may want to download the <a href="https://training.github.com/kit/downloads/github-git-cheat-sheet.pdf" target="_blank">Git Cheat Sheet</a>. And if you still are looking for more resources, be sure to check out the official <a href="https://help.github.com/articles/good-resources-for-learning-git-and-github/" target="_blank">list of good resources for learning Git and GitHub</a>.</p>
		<p>Terminal</p>
		<p><a href="https://help.github.com/articles/set-up-git/" target="_blank">Click here</a> to see how to set up GitHub in Terminal. As Developers it is best to learn how to use git through the terminal, not with the GUI interface they make availabe. We should be as comfortable as possible interacting with the Terminal.</p>
		<p>Look at our Helpful Tips page to see how you can change the style of the Terminal to personalize your experience.</p>
	</div>
	<div class="framework-logo github-terminal-tutorial col-md-5"></div>
</div>
