---
title: Grunt
section: tutorials
---

<div class="framework-description col-md-12">
	<div class="col-md-7">
		<h2>{{title}}</h2>
		<span class="framework-link">
			<a class="external-link" href="http://http://gruntjs.com/" target="_blank">Checkout their website for more information <span class="icon-forward"></span></a>
		</span>
		<p>Check out <a class="external-link" href="http://gruntjs.com/getting-started" target="_blank">this grunt tutorial</a> on their homesite to get acquainted.</p>
	</div>
	<div class="framework-logo grunt-tutorial col-md-5"></div>
</div>
