---
title: Handlebars {{ }}
section: tutorials
---

<div class="framework-description col-md-12">
	<div class="col-md-7">
		<h2>{{title}}</h2>
		<span class="framework-link">
			<a class="external-link" href="http://handlebarsjs.com/" target="_blank">Checkout their website for more information <span class="icon-forward"></span></a>
		</span>
		<p>Handlebars provides the power necessary to build semantic templates very easily. Developers use a JS templating engine like Handlbars to keep our JavaScript and HTML sufficiently decoupled, which allows us to manager our HTML and JS files reliably and easily. It's also important to use a JS templating engine when the appilcation's view will be updated frequently, especially from changes to the data.</p>
		<p><a class="external-link" href="http://javascriptissexy.com/handlebars-js-tutorial-learn-everything-about-handlebars-js-javascript-templating/" target="_blank">This tutorial</a> sufficiently explains how Handlebars.js works, why it is the best of the templating engines out there, and how to use it. Well what are you waiting for, go try it out!</p>
	</div>
	<div class="framework-logo handlebars-tutorial col-md-5"></div>
</div>
