---
title: Handlebars {{ }}
section: tutorials
---

<div class="framework-description col-md-12">
	<div class="col-md-7">
		<h2>{{title}}</h2>
		<span class="framework-link">
			<a class="external-link" href="http://handlebarsjs.com/">Checkout their website for more information <span class="icon-forward"></span></a>
		</span>
		<p>Handlebars provides the power necessary to build semantic templates very easily. <a class="external-link" href="http://handlebarsjs.com/">Their website</a> provides a good description of the toolkit and how to use it. As interactive developers, we use Handlebars very often, and you should become familiar with the power of this framework.</p>
	</div>
	<div class="framework-logo handlebars col-md-5"></div>
</div>
