---
title: Handlebars {{}}
section: tutorials
---

<h2>{{title}}</h2>
<p>Handlebars provides the power necessary to build semantic templates very easily. <a href="http://handlebarsjs.com/">Their website provides a good description of the toolkit and how to use it. As interactive developers, we use Handlebars very often, and you should become familiar with the power of this framework.</a></p>