---
title: Helpful Tips
section: gettingStarted
---

<h1>Helpful Tips</h1>
<p>To make your transition as a Interactive Developer into SapientNitro as smooth as possible.</p>

<div class="tips folder-setup container-fluid">
	<h3><span class="icon-clipboard"> </span>Create your folder directory</h3>
	<p> In your user directory create a folder for "Sapient Projects" for you to save Sapient work. 
		<br/><img src="images/helpful-tips/sapient-folder-dir.png"></p>
	<p>Also, you may create a folder for general "Development", in which you may save personal work and bench projects.
		<br/><img src="images/helpful-tips/development-dir.png"></p>
	<p>Please note, you may set up your folders how ever works best for you, but these are suggestions from current Interactive Developers.</p>
</div>

<div class="tips change-terminal container-fluid">
	<h3><span class="icon-clipboard"> </span>Change the terminal style</h3>
	<p>Change the look of the Terminal so that you can have fun while coding! Open terminal, go to "Preferences," then navigate to "Profiles" in the dialog box and choose your favorite style!</p>
	<img id="terminal-preferences" src="images/helpful-tips/terminal-preferences.png">
	<br/>
	<img src="images/helpful-tips/terminal-dialog-box.png">
</div>

<div class="tips change-terminal container-fluid">
	<h3><span class="icon-clipboard"> </span>Decide on a text editor</h3>
	<p>Suggestions for text editors that current Interactive Developers use include:
		<ul>
			<li><a href="http://www.sublimetext.com/">Sublime Text</a></li>
			<li><a href="https://atom.io/">Atom</a></li>
			<li><a href="http://brackets.io/">Brackets</a></li>
		</ul>
		Again, please note you may use what ever environment fits your work flow best.
	</p>
</div>