---
title: Helpful Tips
section: gettingStarted
---

<h1>Helpful Tips</h1>
<p>To make your transition as a Interactive Developer into SapientNitro as smooth as possible.</p>

<div class="tips folder-setup container-fluid">
	<h3><span class="icon-clipboard"> </span>Create your folders</h3>
	<span> In your user directory create a folder for "Sapient Projects" for you to save Sapient work. Also create a folder for general "Development", in which you may save personal work and bench projects.</span>
</div>

<div class="tips change-terminal container-fluid">
	<h3><span class="icon-clipboard"> </span>Change the terminal style</h3>
	<span>Change the look of the Terminal so that you can have fun while coding! Open terminal, go to "Preferences" and in the dialog box, choose your favorite style!</span>
</div>

<div class="tips change-terminal container-fluid">
	<h3><span class="icon-clipboard"> </span>Decide on a text editor</h3>
	<span>Interactive Developers typically use <a href="">Sublime Text</a>, <a href="">Atom</a>, <a href="">Brackets</a>.</span>
</div>