---
title: Home
heading: 'Welcome to SapientNitro!'
section: home
---
<div class="jumbotron">
  <h1>{{ heading }}</h1>
  <p>Welcome to SapientNitro as an Interactive Developer! We are very happy that you are here, and we hope to make your onboarding as smooth as possible. Don't forget to ask questions to your manager or buddy whenever you have them because we all want you to succeed as much as you do!</p>
  <p><a href="helpful-tips.html" class="btn btn-primary btn-lg" role="button">Let's Get Started! &raquo;</a></p>
</div>
