---
title: JavaScript
section: development
---

<div class="javascript-page">
  <div class="container-fluid">
    <h2>{{title}}</h2>
    <!-- <span class="framework-link">
      <a class="external-link" href="https://angularjs.org/" target="_blank">Checkout their website for more information <span class="icon-forward"></span></a>
    </span> -->
    <p>As modern day web developers, we must know JavaScript. Many developers get away with creating web pages and applications by taking JS for granted, and not really knowing what the JS they are writing or copying from online sources. Truly knowing and understanding how JavaScript works will surely make you a more creative and effective web developer.</p>
    <p>Below are some resources we recommend you take a look at, but there are tons of resources available online, both free and for a price, that will help you better understand JS.</p>

    {{>javascript-section javascript-resources}}
    <!-- <div class="framework-logo angular-tutorial col-md-5"></div> -->

  </div>
</div>
