---
title: One Page Recipe
section: comp-tutorial
---


<h1>Basic One Page Website</h1>
<p>Uses an image gallery, dropdown menu, and icons.</p>

<div class="one-page-templates">
  <img src="../images/practice-templates/recipe-page/recipe-state.png"/>
  <img src="../images/practice-templates/recipe-page/dropdown-state.png"/>
  <img src="../images/practice-templates/recipe-page/ingredients-state.png"/>
  <img src="../images/practice-templates/recipe-page/nutrition-state.png"/>
</div>

<h3>Download Comp PDFs</h3>
<p>The document has all of the states in the layers menu.</p>
<a class="download-span" href=""><span class="icon-download2"> Download Zip</span></a>


<h3>Layout</h3>
<p>For grid/column layouts, developers will typically use Bootstrap. Bourban/Neat is also a good semantic Sass Grid.</p>

<h3>Dropdown</h3>
<p>The dropdown may be a little tricky as the selection input is tied to conent displayed. Depending on your coding skills, it can be handled entirely with javascript or with a comination of javascipt and css.</p>
