---
title: One Page Recipe
section: comp-tutorial
---


<h1>Basic One Page Website</h1>
<p>Uses an image gallery, dropdown menu, and icons.</p>

<div class="one-page-templates">
  <img src="../images/practice-templates/recipe-page/recipe-state.png"/>
  <img src="../images/practice-templates/recipe-page/dropdown-state.png"/>
  <img src="../images/practice-templates/recipe-page/ingredients-state.png"/>
  <img src="../images/practice-templates/recipe-page/nutrition-state.png"/>

</div>
