---
title: Regex
section: tutorials
---

<div class="framework-description col-md-12">
	<div class="col-md-7">
		<h2>{{title}}</h2>
		<p>Regex, or regular expressions, is a symbolic language that describes how to identify a sequence of integers or characters as matched a required set. For instance you can use it to find a specific or, or a seqence of words, in text, or a match a number of characters within a word or number string.
		</p>
		<p><a class="external-link" href="https://regex101.com/" target="_blank">This</a> is a great site for testing and trying regex.</p>
		<p>Below is the link to "Learn Regex the Hard Way." If you want to conquer regex, go through this book slowly and make sure you actually DO the exercises, not just reading through the exercises or even copy and pasting!
			<a class="external-link" href="http://regex.learncodethehardway.org/book/" target="_blank">Learn Regex!</a>
		</p>

	</div>
	<div class="framework-logo regex-tutorial col-md-5"></div>
</div>
