---
title: GitHub and Terminal
section: tutorials
---

<div class="framework-description col-md-12">
	<div class="col-md-7">
		<h2>{{title}}</h2>
		<span class="framework-link">
			<a class="external-link" href="https://github.com/">Checkout GitHub's website for more information <span class="icon-forward"></span></a>
		</span>	<br/>
		<p>
			<a href="http://regex.learncodethehardway.org/book/introduction.html">Great Regex resource.</a>
		</p>
	</div>
	<div class="framework-logo regex col-md-5"></div>
</div>