---
title: SN Development Standards
section: development
---

<div id="development-framework-page">
  <h2>SapientNitro Development Standards</h2>
  <p>Here we highlight the SapientNitro approved devlopment standards that we as Interactive Developers adhere to. We know it's long but take a look and make sure you follow these guidelines in your own code development. The purpose of establishing these standards is so that we have consistent, maintainable, and easily transferable code for our development team.</p>

<a class="external-link" href="http://bp.sapient-lab.com/" target="_blank">Check out the SapientNitro Development Standards <span class="icon-forward"></span></a>

</div>
