---
title: SapientNitro Resources
section: gettingStarted
---

<h1>{{title}}</h1>
<p>Check out all these resources available to you as a new hire here at SapientNitro!</p>

{{>sn-resource-section sn-resources}}
