{{#each this.resources}}
  <div class="resources container-fluid">
    <p><h3><span class="icon-point-right"> </span>{{this.title}}</h3>{{this.description}}</p>
    <a class="external-link" href="{{this.siteLink}}" target="_blank">Check it out <span class="icon-forward"></span></a>
  </div>
{{/each}}
