{{#each this.videos}}
	<div class="video-section container-fluid">
		<h3 class="video-title"><span class="icon-checkbox-unchecked"></span>{{this.title}}</h3>
		<h4 class="video-author">{{this.author}}</h4>
		<div class="video-description">
			{{this.description}}
		</div>
	</div>
{{/each}}