@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
@import "icon.css";
@import "style.scss";

//partials
@import "partials/helpful-tips.scss";

  //global
  @import "global/navbar.scss";

  //Development-frameworks
  @import "partials/development-frameworks/dev-main.scss";

// End import

body {
  background-color: $white;
}

#content-wrapper {
}


.external-link{
  color: $electric-blue;
}

.internal-link{
  color: $sapient-heat;
}
