{{#each this.resources}}
	<div class="resources container-fluid">
		<h3><span class="{{this.iconClass}}"> </span>{{this.topic}}</h3>
		<p>{{this.description}}</p>
		<a class="external-link" href="{{this.siteLink}}" target="_blank">See the website for more information <span class="icon-forward"></span></a>
	</div>
{{/each}}
