

#frameworks-introduction{

  .framework-blurb{
      font-family:  SapientSansRegularItalic;
  }

  .installation-steps{
      padding: 0 50px 0 50px;

      p{
          margin: 15px 0;
      }
  }

}
