<div class="preview">
	<div><img src="images/cat-site-tutorial/cat-site-landing-page.jpg"></div>
	<div><img src="images/cat-site-tutorial/cat-about.jpg"></div>
	<div><img src="images/cat-site-tutorial/cat-photos.jpg"></div>
	<div><img src="images/cat-site-tutorial/cat-contact.jpg"></div>
</div>
